{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-page-hero.css' | asset_url | stylesheet_tag }}

<div class="page-hero color-{{ section.settings.color_scheme }} gradient">
  <div class="page-hero__inner page-width">
    <div class="page-hero__text-wrapper">
      <h1 class="page-hero__title">
        {{- page.title | escape -}}
      </h1>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }
  ]
}
{% endschema %}
