.local-hero__inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.local-hero__text-wrapper {
  flex: 1 0 50%;
}

@media screen and (min-width: 750px) {
  .local-hero {
    padding: 0;
  }

  .local-hero__inner {
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
  }
}

.local-hero__title {
  margin: 2.5rem 0;
}

.local-hero__button-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

@media screen and (min-width: 750px) {
  .local-hero__button-container {
    flex: 1 0 50%;
    align-self: stretch;
    margin-left: 3rem;
  }
}
