.local-hero__inner {
  display: flex;
  flex-direction: column;
}

.local-hero__text-wrapper {
  flex-basis: 100%;
}

@media screen and (min-width: 750px) {
  .collection-hero {
    padding: 0;
  }

  .local-hero__inner {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
  }
}

.local-hero__title {
  margin: 2.5rem 0;
}
