.local-hero__inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.local-hero__text-wrapper {
  flex-basis: 100%;
  padding: 5rem 0 4rem;
}

@media screen and (min-width: 750px) {
  .local-hero {
    padding: 0;
  }

  .local-hero__inner {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
  }
}

.local-hero__title {
  margin: 2.5rem 0;
}

@media screen and (min-width: 750px) {
  .local-hero__button-container {
    align-self: stretch;
    flex: 1 0 50%;
    margin-left: 3rem;
  }
}

@media screen and (min-width: 750px) {
  .local-hero__text-wrapper {
    flex-basis: 50%;
  }

  .local-hero__button-container {
    align-self: stretch;
    flex: 1 0 50%;
    margin-left: 3rem;
  }
}
