.collection-nav {
  margin-top: 0;
  margin-bottom: 0;
}

.collection-nav-title {
  margin: 0;
}

@media screen and (max-width: 749px) {
  .collection-nav:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-nav .page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-nav .collection-nav:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.collection-nav__item:only-child {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .slider.collection-nav--1-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-nav--1-items,
  .slider.collection-nav--2-items,
  .slider.collection-nav--3-items,
  .slider.collection-nav--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-nav__item a:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 989px) {
  .collection-nav.slider .collection-nav__item {
    max-width: 100%;
  }
}

.collection-nav-view-all {
  margin-top: 2rem;
}
